<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}">
<head>
    <title>Blog Create</title>
</head>

<body>
<div layout:fragment="container" class="container-fluid">
    <div>
        <form th:action="@{/admin/blog/create}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Title" name="title" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="subtitle" name="subTitle" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Author" name="author" />
            </div>
            <div class="form-group">
                <textarea id="desc" class="form-control" type="text" placeholder="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <input  class="form-control-file" accept="image/*" type="file" placeholder="photoUrl" name="image" />
            </div>
            <div class="form-group">
                <select name="categoryId" class="form-control">
                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <div th:each="tag : ${tags}">
                    <label>
                        <input type="checkbox" name="tagIds" th:value="${tag.id}"> <span th:text="${tag.name}"></span>
                    </label>
                </div>
            </div>
            <input type="submit" value="Crete" class="btn btn-success" />
        </form>
    </div>
</div>
</body>
</html>
