<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}">
<head>
    <title>User - Feedback </title>
</head>

<body>
<div layout:fragment="container" class="container-fluid">
    <div class="container">
        <form method="post" action="/admin/feedback/create" enctype="multipart/form-data">
            <div class="col-lg-5 m-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <select name="userId" class="form-control">
                                <option th:each="user : ${users}" th:text="${user.firstName}" th:value="${user.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea id="desc" class="form-control" type="text" placeholder="Feedback" name="feedback"></textarea>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-outline-success" type="submit" value="Add feedback"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>