<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Password</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/authentication/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/authentication/css/style.css}">
</head>
<body>
<div layout:fragment="Body">
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Reset Password</h2>
                        <form method="post" class="register-form" id="register-form" th:action="@{/resetPassword}">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" th:value="${email}" readonly="readonly">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="New Password" required/>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="confirm-password" id="confirm-password" placeholder="Repeat your  new password" required onblur="checkPassword(event)"/>
                                <span id="passwordError" style="color: red;"></span>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" name="signup" id="signup" class="form-submit" onclick="checkPassword(event)">Change Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img th:src="@{/authentication/images/signup-image.jpg}" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>


<!-- JS -->
<script th:src="@{/authentication/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/authentication/js/main.js}"></script>
<script>
    function checkPassword(event)
    {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;
        var errorElement = document.getElementById("passwordError");

        if (password !== confirmPassword)
        {
            errorElement.textContent = "Passwords do not match!";
            event.preventDefault();
        }
        else
        {
            errorElement.textContent = "";
        }
    }
</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>